@charset "UTF-8";
/* =======================================*/
/* css reset
/* =======================================*/
caption { visibility: hidden; position: absolute; top: -9999px; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.cy-content-box { height: calc(100% - 80px); min-height: 500px; }


/* =======================================*/
/* btn type
/* =======================================*/

.cy-btn-set {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}

.cy-btn-type-1 {
	height: 30px;
	background-color: #d12d04;
	border-radius: 3px;
	color: #fff;
	padding: 0 14px 0 14px;
}

.cy-btn-type-3 {
	background-color: #0f77bc;
	padding: 0 24px;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	height: 30px;
}

.cy-btn-type-2 {
	background-color: #475966;
	padding: 0 14px 0 14px;
	height: 30px;
	border-radius: 3px;
	color: #fff;
}

.cy-submit-btn {
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
}

.cy-main-left-content input {
	border: 1px solid #e6e6e6;
}

.cy-main-right-content select {
	border: 1px solid #e6e6e6;
}

.cy-circle-1 {
	width: 24px;
	height: 24px;
	background-color: #d3e6f5;
	border: 1px solid #81b1d6;
	border-radius: 24px;
	float: right;
}

.cy-circle-2 {
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #c2c2c2;
	border-radius: 24px;
	float: right;
}

/* =======================================*/
/* 설문조사
/* =======================================*/
/* 타이틀, 메인버튼 영역 */
.cy-date { position: relative; display: inline-block; }

.cy-date input { width: 90px; }

.cy-date input:first-child { margin-right: 15px; }

.cy-date:before { position: absolute; content: "~"; top: 1px; left: 50%; margin-left: -4px; }

/* 조회조건 */
.cy-srcForm div:first-child { float: left; width: 50%; }

.cy-srcForm div:nth-child(2) { float: right; width: 50%; }

.cy-srcForm ul li:nth-child(2) { display: inline-block; float: left; }

.cy-srcForm { border-bottom: 1px solid #ccc; margin: 10px; padding: 10px; border: 1px solid #cdcdcd; background: #f3f3f3; *zoom: 1; }

.cy-srcForm ul li { display: block; margin-bottom: 8px; clear: both; }

.cy-srcForm ul li:last-child { margin-bottom: 0; }

.cy-srcForm ul li:last-child input { width: 482px; }

.cy-srcForm ul li h4 { display: inline-block; font-weight: bold; vertical-align: -1px; width: 40px; }

.cy-srcForm ul li [type="radio"] + label { margin-right: 30px; }

.cy-srcForm button { background-color: #394a57; color: #fff; border: 0; padding: 0 14px 2px 13px; }

.cy-hr { height: 1px; background: #b8ccdb; font-size: 0; border: 0; margin: 10px; }

/* 조회결과 */
.cy-srcBtn { line-height: 28px; margin-bottom: 5px; }

.cy-srcBtn div:first-child { margin-left: 10px; }

.cy-srcBtn div:first-child, .cy-srcBtn div:nth-child(2) { display: inline-block; }

.cy-srcBtn div:nth-child(2) { float: right; margin-right: 10px; }

.cy-srcBtn button { background-color: #1a5380; color: #fff; padding: 0 15px 2px 15px; border-radius: 3px; height: 28px; }

.cy-srcBtn strong { padding-bottom: 4px; }

/* 조회결과 [시트정보] */
.cy-table { padding-left: 10px; padding-right: 10px; }

.cy-table table { border: 1px solid #999fa3; }

.cy-table table td { height: 22px; }

.cy-table table tbody td { text-align: center; }

.cy-table table thead tr th { border-right: 1px solid #d3dbe0; font-weight: bold; padding-bottom: 1px; }

.cy-table table tbody tr:last-child td { border-bottom: 0; }

.cy-table table thead tr th:last-child { border-right: 0; }

.cy-table table tbody tr td { border-right: 1px solid #d3dbe0; border-bottom: 1px solid #d3dbe0; line-height: 0; padding: 2px 0 1px; }

.cy-table table tbody tr td:last-child { border-right: 0; }

.cy-table thead th { background-color: #b8c3cc; height: 30px; }

/* 페이징 [시트정보] */
.cy-paging { margin-top: 10px; text-align: center; }

.cy-paging * { vertical-align: text-bottom; }

.cy-paging button { cursor: pointer; margin: 0 2px; }

/*# sourceMappingURL=map/cy-human.css.map */


/* =======================================*/
/* 메인화면
/* =======================================*/
/* 외부화면 영역 */

.cy-main-content-box div p {
	height: 400px;
	background-color:#d3e1f4;
	margin: 10px;
}

/* 외부화면 수정 영역 */
.cy-main-rework-content-box {
	position: relative;
	top: 627px;
}
.cy-tab-menu {
	position: absolute;
	top: -32px;
	width: 100%;
}

.cy-main-rework-content-box .cy-main-left-content {
	margin: 10px;
	float: left;
}

.cy-main-rework-content-box .cy-main-right-content {
	margin: 47px 30px 0 0;
	float: right;
}

.cy-main-left-content div:first-child{
	margin-bottom: 6px;
}

.cy-main-left-content div:nth-child(2) {
	margin-bottom: 6px;
}

.cy-main-left-content div:nth-child(2) input,
.cy-main-left-content div:nth-child(3) input {
	width: calc(100% - 90px);
}

.cy-main-left-content div:nth-child(4) {
	margin-top:6px;
	margin-bottom:4px;
}

.cy-main-left-content div:nth-child(5) {
	position: relative;
}

.cy-main-left-content div:nth-child(5) span {
	width: 84px;
	font-weight: bold;
	margin-bottom: 6px;
}

.cy-main-left-content div:nth-child(5) input {
	width: calc(100% - 90px);
	margin-bottom: 6px;
}

.cy-main-left-content div:nth-child(5) div:first-child {
	float: left;
	background-color:#f0f3f5;
	border: 1px solid #e6e6e6;
	padding: 7px 11px 1px;
	margin-left: 90px;
}

.cy-main-left-content div:nth-child(5) div:nth-child(2) {
	float: right;
	position: absolute;
	top: 28px;
	left: 644px;
} 

.cy-main-left-content div:nth-child(6) {
	position: relative;
}

.cy-main-left-content div:nth-child(6) span {
	width: 84px;
	font-weight: bold;
	margin-bottom: 6px;
}

.cy-main-left-content div:nth-child(6) input {
	width: calc(100% - 90px);
	margin-bottom: 6px;
}

.cy-main-left-content div:nth-child(6) div:first-child {
    float: left;
	background-color:#f0f3f5;
	border: 1px solid #e6e6e6;
	padding: 7px 11px 1px;
	margin-left: 90px;
}

.cy-main-left-content div:nth-child(6) div:nth-child(2) {
	float: right;
	position: absolute;
	top: 100px;
	left: 644px;
} 

.cy-main-left-content div span:first-child {
	width: 84px;
	margin-bottom: 6px;
}

.cy-main-right-content div:first-child {
	margin-bottom: 6px;
}
.cy-main-right-content div select {
	width:120px;
}
.cy-main-right-content div .cy-font-color {
	margin-right: 43px;
}