@import "../css/swiper-5.4.3.css";
@import "../css/swiper.11.0.6-bundle.css";
@import "../css/aos.css";
@import "../css/fontset.css";
@import "base.css";
@import "style.css";
@import "nav.css";
@import "layout.css";
@import "footer.css";
@import "style_promotion.css";
@import "style_saas.css";
@import "site/new.css";
@import "board.css";
@import "terms_sass.css";
@import "search.css";
@import 'new_total.css';