@charset "utf-8";

@import url('common.css');
@import url('../fonts/font.css');

html {
    height: 100vw;
    max-height: 100vw;
}

body {
    background: rgb(238,174,202);
    background: linear-gradient(30deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#button {
    z-index: 1000;
    display: inline-block;
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 60px;
    height: 60px;
    background: #fff url('../images/ico-arrow-up.svg') center;
    background-size: 70%;
    text-align: center;
    border-radius: 50%;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}

#button:hover {
    cursor: pointer;
    background-color: #94bbe9;
}

#button:active {
    background-color: royalblue;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1293px 1310px #FFF, 364px 182px #FFF, 1359px 839px #FFF, 439px 1410px #FFF, 1777px 874px #FFF, 763px 1539px #FFF, 1299px 619px #FFF, 1151px 966px #FFF, 1415px 1269px #FFF, 516px 1852px #FFF, 1181px 1200px #FFF, 304px 1570px #FFF, 65px 852px #FFF, 196px 395px #FFF, 1906px 1930px #FFF, 105px 439px #FFF, 1689px 169px #FFF, 722px 879px #FFF, 377px 1205px #FFF, 1051px 1442px #FFF, 1508px 1388px #FFF, 1933px 1074px #FFF, 909px 1012px #FFF, 1171px 643px #FFF, 1698px 1268px #FFF, 1265px 1666px #FFF, 1240px 1733px #FFF, 1077px 327px #FFF, 1570px 188px #FFF, 1607px 342px #FFF, 1502px 208px #FFF, 544px 1088px #FFF, 712px 1332px #FFF, 1531px 612px #FFF, 1432px 461px #FFF, 1925px 276px #FFF, 752px 1017px #FFF, 924px 1195px #FFF, 1145px 560px #FFF, 1629px 305px #FFF, 1517px 419px #FFF, 1903px 1198px #FFF, 61px 1110px #FFF, 1328px 589px #FFF, 1033px 1110px #FFF, 425px 568px #FFF, 1584px 907px #FFF, 804px 326px #FFF, 1415px 1283px #FFF, 181px 1808px #FFF, 1913px 1380px #FFF, 1541px 1697px #FFF, 1113px 304px #FFF, 1606px 566px #FFF, 397px 74px #FFF, 556px 1574px #FFF, 1072px 1161px #FFF, 1432px 1232px #FFF, 720px 176px #FFF, 1062px 1318px #FFF, 1981px 554px #FFF, 919px 1030px #FFF, 986px 1658px #FFF, 1174px 329px #FFF, 1437px 560px #FFF, 1342px 1614px #FFF, 1979px 1477px #FFF, 1608px 1093px #FFF, 1463px 1074px #FFF, 444px 193px #FFF, 887px 1800px #FFF, 989px 1301px #FFF, 715px 1082px #FFF, 1006px 1030px #FFF, 65px 276px #FFF, 859px 1738px #FFF, 980px 1981px #FFF, 38px 494px #FFF, 1320px 937px #FFF, 1670px 728px #FFF, 1863px 507px #FFF, 777px 6px #FFF, 110px 959px #FFF, 682px 104px #FFF, 1186px 1721px #FFF, 275px 1533px #FFF, 214px 1028px #FFF, 1669px 719px #FFF, 1235px 1541px #FFF, 1124px 474px #FFF, 1754px 615px #FFF, 1201px 410px #FFF, 1441px 509px #FFF, 895px 821px #FFF, 1033px 1220px #FFF, 1575px 835px #FFF, 349px 1510px #FFF, 399px 1383px #FFF, 1775px 17px #FFF, 1781px 1722px #FFF, 1177px 488px #FFF, 1675px 851px #FFF, 1817px 1452px #FFF, 524px 1618px #FFF, 732px 1787px #FFF, 1905px 593px #FFF, 1221px 821px #FFF, 1005px 941px #FFF, 176px 1012px #FFF, 178px 1185px #FFF, 1060px 1040px #FFF, 1554px 176px #FFF, 1407px 904px #FFF, 92px 137px #FFF, 1674px 437px #FFF, 1405px 1767px #FFF, 943px 1020px #FFF, 952px 119px #FFF, 195px 804px #FFF, 618px 759px #FFF, 900px 471px #FFF, 1288px 639px #FFF, 843px 1187px #FFF, 1621px 693px #FFF, 305px 965px #FFF, 1388px 910px #FFF, 915px 1394px #FFF, 956px 25px #FFF, 1920px 218px #FFF, 351px 632px #FFF, 1396px 404px #FFF, 316px 1980px #FFF, 713px 1400px #FFF, 540px 1174px #FFF, 1792px 694px #FFF, 44px 53px #FFF, 716px 730px #FFF, 359px 464px #FFF, 281px 226px #FFF, 282px 1904px #FFF, 1442px 1758px #FFF, 739px 862px #FFF, 1196px 890px #FFF, 1584px 439px #FFF, 772px 1321px #FFF, 1058px 1842px #FFF, 1984px 1841px #FFF, 1712px 1631px #FFF, 1741px 1121px #FFF, 1035px 891px #FFF, 1794px 1615px #FFF, 1524px 66px #FFF, 1488px 1365px #FFF, 1534px 441px #FFF, 618px 350px #FFF, 447px 1992px #FFF, 294px 1421px #FFF, 94px 142px #FFF, 1070px 67px #FFF, 931px 107px #FFF, 1718px 1959px #FFF, 956px 1561px #FFF, 308px 1160px #FFF, 586px 2000px #FFF, 1468px 401px #FFF, 1201px 216px #FFF, 928px 1979px #FFF, 837px 1407px #FFF, 1749px 1962px #FFF, 783px 1255px #FFF, 1034px 77px #FFF, 1800px 1107px #FFF, 1995px 539px #FFF, 1151px 1394px #FFF, 544px 623px #FFF, 566px 922px #FFF, 556px 1188px #FFF, 1620px 1006px #FFF, 262px 1283px #FFF, 1964px 1256px #FFF, 1603px 672px #FFF, 998px 714px #FFF, 1623px 375px #FFF, 425px 1946px #FFF, 811px 1373px #FFF, 549px 1026px #FFF, 471px 230px #FFF, 1168px 1894px #FFF, 1994px 23px #FFF, 1088px 1086px #FFF, 1797px 145px #FFF, 1252px 889px #FFF, 1621px 922px #FFF, 1175px 1272px #FFF, 407px 1598px #FFF, 755px 1910px #FFF, 1861px 1536px #FFF, 32px 68px #FFF, 1659px 388px #FFF, 546px 305px #FFF, 617px 653px #FFF, 1260px 581px #FFF, 289px 1301px #FFF, 264px 1468px #FFF, 1115px 17px #FFF, 1189px 1564px #FFF, 141px 396px #FFF, 1054px 448px #FFF, 1967px 1040px #FFF, 911px 1072px #FFF, 1171px 1993px #FFF, 579px 1197px #FFF, 896px 991px #FFF, 707px 1966px #FFF, 717px 762px #FFF, 1829px 917px #FFF, 1814px 1234px #FFF, 1099px 1267px #FFF, 1277px 309px #FFF, 1812px 28px #FFF, 1845px 405px #FFF, 806px 1006px #FFF, 1808px 492px #FFF, 1930px 108px #FFF, 1355px 1216px #FFF, 1363px 814px #FFF, 251px 1881px #FFF, 1435px 544px #FFF, 1098px 374px #FFF, 758px 1602px #FFF, 1584px 623px #FFF, 1275px 1689px #FFF, 568px 41px #FFF, 35px 1882px #FFF, 1661px 1937px #FFF, 1919px 1339px #FFF, 943px 1707px #FFF, 49px 1936px #FFF, 1085px 1173px #FFF, 244px 1750px #FFF, 641px 891px #FFF, 74px 553px #FFF, 752px 629px #FFF, 1311px 1899px #FFF, 990px 381px #FFF, 1977px 737px #FFF, 94px 1802px #FFF, 289px 1449px #FFF, 1084px 1734px #FFF, 1036px 1692px #FFF, 532px 115px #FFF, 955px 1120px #FFF, 1352px 1985px #FFF, 934px 1273px #FFF, 280px 1808px #FFF, 1756px 1999px #FFF, 917px 446px #FFF, 1122px 1270px #FFF, 1958px 1109px #FFF, 1178px 295px #FFF, 1186px 386px #FFF, 1767px 1879px #FFF, 482px 1960px #FFF, 663px 149px #FFF, 398px 296px #FFF, 1533px 688px #FFF, 28px 1883px #FFF, 50px 78px #FFF, 325px 1823px #FFF, 1968px 1597px #FFF, 1633px 180px #FFF, 1026px 1061px #FFF, 866px 1275px #FFF, 1029px 864px #FFF, 390px 259px #FFF, 718px 1617px #FFF, 155px 1015px #FFF, 1027px 1343px #FFF, 211px 1676px #FFF, 766px 1072px #FFF, 1583px 256px #FFF, 734px 1963px #FFF, 1530px 13px #FFF, 1095px 794px #FFF, 1874px 211px #FFF, 1543px 489px #FFF, 720px 1980px #FFF, 1018px 1164px #FFF, 146px 560px #FFF, 916px 1039px #FFF, 717px 154px #FFF, 295px 742px #FFF, 625px 474px #FFF, 824px 1082px #FFF, 85px 1998px #FFF, 1611px 1676px #FFF, 1599px 767px #FFF, 445px 537px #FFF, 992px 1277px #FFF, 1227px 1404px #FFF, 1077px 265px #FFF, 1515px 713px #FFF, 896px 1105px #FFF, 13px 531px #FFF, 218px 846px #FFF, 1365px 1058px #FFF, 417px 627px #FFF, 1752px 1621px #FFF, 1447px 1721px #FFF, 1669px 1388px #FFF, 780px 1059px #FFF, 1363px 603px #FFF, 1587px 1628px #FFF, 1533px 163px #FFF, 1885px 798px #FFF, 512px 170px #FFF, 1113px 551px #FFF, 1295px 1048px #FFF, 1324px 1523px #FFF, 614px 469px #FFF, 654px 1011px #FFF, 1756px 129px #FFF, 444px 395px #FFF, 112px 1750px #FFF, 426px 1594px #FFF, 1872px 1707px #FFF, 1614px 837px #FFF, 1824px 973px #FFF, 849px 1895px #FFF, 1394px 1614px #FFF, 847px 1785px #FFF, 793px 272px #FFF, 1353px 1291px #FFF, 1434px 1045px #FFF, 175px 393px #FFF, 5px 8px #FFF, 198px 701px #FFF, 1652px 632px #FFF, 1487px 1606px #FFF, 184px 1463px #FFF, 951px 1520px #FFF, 653px 1370px #FFF, 217px 1095px #FFF, 252px 648px #FFF, 1386px 1636px #FFF, 1801px 1605px #FFF, 759px 1528px #FFF, 396px 144px #FFF, 1565px 1059px #FFF, 1385px 813px #FFF, 1946px 1527px #FFF, 1111px 1249px #FFF, 1763px 982px #FFF, 1770px 1672px #FFF, 128px 531px #FFF, 173px 807px #FFF, 601px 1149px #FFF, 1620px 1577px #FFF, 1439px 47px #FFF, 665px 759px #FFF, 327px 32px #FFF, 1176px 1643px #FFF, 1302px 1897px #FFF, 1061px 339px #FFF, 1775px 1630px #FFF, 114px 945px #FFF, 219px 1769px #FFF, 965px 343px #FFF, 1301px 659px #FFF, 1211px 661px #FFF, 240px 1718px #FFF, 1928px 1782px #FFF, 1550px 202px #FFF, 1760px 97px #FFF, 243px 1572px #FFF, 849px 1321px #FFF, 1406px 1085px #FFF, 1999px 1019px #FFF, 959px 954px #FFF, 1387px 285px #FFF, 621px 1340px #FFF, 210px 1781px #FFF, 933px 911px #FFF, 1230px 847px #FFF, 160px 1799px #FFF, 1704px 1713px #FFF, 846px 501px #FFF, 1206px 502px #FFF, 1162px 1407px #FFF, 1066px 1778px #FFF, 378px 585px #FFF, 1889px 1078px #FFF, 1001px 580px #FFF, 1780px 1648px #FFF, 927px 1152px #FFF, 1498px 1022px #FFF, 893px 1339px #FFF, 1725px 169px #FFF, 1922px 1595px #FFF, 153px 154px #FFF, 1957px 1917px #FFF, 319px 1637px #FFF, 1243px 207px #FFF, 1270px 523px #FFF, 132px 257px #FFF, 1391px 1960px #FFF, 942px 747px #FFF, 1064px 1941px #FFF, 1409px 271px #FFF, 1408px 304px #FFF, 1680px 1142px #FFF, 1854px 1743px #FFF, 1366px 655px #FFF, 1408px 1174px #FFF, 1177px 394px #FFF, 1445px 1266px #FFF, 1813px 1607px #FFF, 756px 1318px #FFF, 388px 1439px #FFF, 1791px 1884px #FFF, 982px 1670px #FFF, 1926px 583px #FFF, 485px 1379px #FFF, 1561px 1674px #FFF, 68px 1527px #FFF, 1133px 1886px #FFF, 1412px 129px #FFF, 1841px 157px #FFF, 1011px 87px #FFF, 1484px 1918px #FFF, 325px 236px #FFF, 1835px 1686px #FFF, 18px 1459px #FFF, 1143px 381px #FFF, 85px 1343px #FFF, 319px 1468px #FFF, 158px 125px #FFF, 103px 637px #FFF, 217px 583px #FFF, 546px 370px #FFF, 814px 1338px #FFF, 1033px 1238px #FFF, 1126px 524px #FFF, 245px 1184px #FFF, 832px 1834px #FFF, 1117px 484px #FFF, 513px 1775px #FFF, 1515px 1954px #FFF, 717px 476px #FFF, 485px 626px #FFF, 28px 1020px #FFF, 1805px 638px #FFF, 618px 359px #FFF, 263px 1091px #FFF, 1696px 1723px #FFF, 1437px 1337px #FFF, 1848px 1534px #FFF, 35px 1506px #FFF, 1296px 1119px #FFF, 1264px 875px #FFF, 1840px 249px #FFF, 377px 1727px #FFF, 1448px 1066px #FFF, 972px 1926px #FFF, 41px 320px #FFF, 475px 168px #FFF, 1515px 1656px #FFF, 1006px 1687px #FFF, 105px 1733px #FFF, 416px 1606px #FFF, 1990px 1764px #FFF, 920px 1088px #FFF, 1338px 1166px #FFF, 542px 1px #FFF, 578px 185px #FFF, 1307px 128px #FFF, 361px 249px #FFF, 981px 607px #FFF, 898px 1161px #FFF, 65px 997px #FFF, 1841px 52px #FFF, 674px 1585px #FFF, 1464px 442px #FFF, 1883px 149px #FFF, 1973px 378px #FFF, 267px 298px #FFF, 787px 1998px #FFF, 1641px 12px #FFF, 1222px 276px #FFF, 1823px 1012px #FFF, 364px 704px #FFF, 1247px 1222px #FFF, 1327px 649px #FFF, 91px 853px #FFF, 639px 1447px #FFF, 264px 785px #FFF, 1482px 1645px #FFF, 1767px 804px #FFF, 210px 1869px #FFF, 898px 1581px #FFF, 790px 1728px #FFF, 848px 1526px #FFF, 125px 321px #FFF, 878px 1918px #FFF, 1278px 307px #FFF, 1700px 1400px #FFF, 519px 877px #FFF, 667px 661px #FFF, 97px 719px #FFF, 1897px 381px #FFF, 558px 822px #FFF, 1572px 196px #FFF, 1516px 21px #FFF, 1752px 1368px #FFF, 72px 1230px #FFF, 547px 104px #FFF, 1459px 225px #FFF, 1028px 492px #FFF, 406px 1502px #FFF, 809px 1392px #FFF, 7px 1641px #FFF, 1245px 269px #FFF, 588px 268px #FFF, 1787px 756px #FFF, 200px 223px #FFF, 1022px 1018px #FFF, 1547px 1159px #FFF, 226px 1252px #FFF, 1710px 1012px #FFF, 776px 1969px #FFF, 1625px 900px #FFF, 619px 350px #FFF, 652px 1747px #FFF, 322px 1674px #FFF, 1548px 614px #FFF, 1616px 1181px #FFF, 1920px 718px #FFF, 922px 524px #FFF, 1277px 531px #FFF, 1498px 1860px #FFF, 931px 1342px #FFF, 1205px 703px #FFF, 1281px 948px #FFF, 939px 194px #FFF, 1934px 1974px #FFF, 614px 894px #FFF, 1756px 1078px #FFF, 1259px 1225px #FFF, 849px 884px #FFF, 1914px 383px #FFF, 836px 1109px #FFF, 1312px 1109px #FFF, 1184px 1566px #FFF, 1178px 2000px #FFF, 961px 209px #FFF, 1416px 1666px #FFF, 1829px 577px #FFF, 1807px 1999px #FFF, 1397px 306px #FFF, 1356px 1824px #FFF, 184px 1634px #FFF, 203px 1622px #FFF, 435px 965px #FFF, 538px 1443px #FFF, 588px 1836px #FFF, 1611px 529px #FFF, 1077px 1265px #FFF, 183px 533px #FFF, 1599px 1993px #FFF, 1546px 1720px #FFF, 1856px 1893px #FFF, 1628px 1068px #FFF, 319px 1348px #FFF, 435px 1353px #FFF, 1035px 959px #FFF, 88px 23px #FFF, 164px 1913px #FFF, 79px 752px #FFF, 1470px 902px #FFF, 182px 1116px #FFF, 1304px 105px #FFF, 1260px 717px #FFF, 675px 279px #FFF, 108px 1774px #FFF, 165px 22px #FFF, 1334px 121px #FFF, 51px 58px #FFF, 450px 338px #FFF, 52px 115px #FFF, 725px 866px #FFF, 987px 356px #FFF, 833px 382px #FFF, 605px 954px #FFF, 524px 604px #FFF, 466px 834px #FFF, 1886px 71px #FFF, 176px 1080px #FFF, 786px 1395px #FFF, 236px 1789px #FFF, 1869px 935px #FFF, 369px 119px #FFF, 167px 72px #FFF, 1869px 1406px #FFF, 1713px 1043px #FFF, 1331px 1445px #FFF, 1121px 193px #FFF, 1864px 1562px #FFF, 1519px 1175px #FFF, 1070px 521px #FFF, 697px 216px #FFF, 1198px 1664px #FFF, 1856px 715px #FFF, 1094px 1665px #FFF, 1099px 980px #FFF, 1501px 770px #FFF, 842px 482px #FFF, 1881px 975px #FFF, 712px 566px #FFF, 1903px 511px #FFF, 853px 1019px #FFF, 277px 561px #FFF, 1187px 1582px #FFF, 1992px 164px #FFF, 1861px 557px #FFF, 166px 1378px #FFF, 5px 675px #FFF, 1116px 1817px #FFF, 987px 1009px #FFF, 1048px 1274px #FFF, 781px 1818px #FFF, 551px 203px #FFF, 1963px 462px #FFF, 1319px 143px #FFF, 1335px 1081px #FFF, 1928px 933px #FFF, 1911px 32px #FFF, 1340px 1653px #FFF, 1685px 80px #FFF, 1717px 898px #FFF, 918px 1204px #FFF, 945px 1782px #FFF, 218px 1492px #FFF, 168px 1362px #FFF, 1327px 274px #FFF, 1730px 771px #FFF, 1904px 843px #FFF, 1764px 1872px #FFF, 1519px 626px #FFF, 1573px 1802px #FFF, 1643px 1265px #FFF, 800px 1965px #FFF, 1116px 1098px #FFF, 1318px 1583px #FFF, 43px 813px #FFF, 1800px 584px #FFF, 1165px 1017px #FFF, 640px 578px #FFF, 198px 373px #FFF, 350px 1908px #FFF, 1808px 350px #FFF, 133px 1230px #FFF, 1997px 1333px #FFF, 1839px 938px #FFF, 1433px 985px #FFF, 1107px 605px #FFF, 1476px 394px #FFF, 766px 1157px #FFF, 1704px 1244px #FFF, 33px 1515px #FFF, 1301px 1619px #FFF, 1502px 477px #FFF, 593px 805px #FFF, 1441px 694px #FFF, 136px 444px #FFF, 569px 1629px #FFF, 1696px 1361px #FFF, 1179px 718px #FFF, 1890px 998px #FFF, 819px 321px #FFF, 1771px 1173px #FFF, 1813px 311px #FFF, 1788px 1129px #FFF, 1699px 1382px #FFF, 1188px 117px #FFF, 1986px 1779px #FFF, 929px 1688px #FFF, 974px 1393px #FFF, 44px 242px #FFF, 116px 541px #FFF, 1482px 1532px #FFF, 236px 709px #FFF, 1820px 1439px #FFF, 1817px 944px #FFF, 1680px 1639px #FFF, 1151px 1880px #FFF, 1448px 267px #FFF, 225px 877px #FFF, 393px 940px #FFF, 802px 564px #FFF, 1050px 1766px #FFF;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1293px 1310px #FFF, 364px 182px #FFF, 1359px 839px #FFF, 439px 1410px #FFF, 1777px 874px #FFF, 763px 1539px #FFF, 1299px 619px #FFF, 1151px 966px #FFF, 1415px 1269px #FFF, 516px 1852px #FFF, 1181px 1200px #FFF, 304px 1570px #FFF, 65px 852px #FFF, 196px 395px #FFF, 1906px 1930px #FFF, 105px 439px #FFF, 1689px 169px #FFF, 722px 879px #FFF, 377px 1205px #FFF, 1051px 1442px #FFF, 1508px 1388px #FFF, 1933px 1074px #FFF, 909px 1012px #FFF, 1171px 643px #FFF, 1698px 1268px #FFF, 1265px 1666px #FFF, 1240px 1733px #FFF, 1077px 327px #FFF, 1570px 188px #FFF, 1607px 342px #FFF, 1502px 208px #FFF, 544px 1088px #FFF, 712px 1332px #FFF, 1531px 612px #FFF, 1432px 461px #FFF, 1925px 276px #FFF, 752px 1017px #FFF, 924px 1195px #FFF, 1145px 560px #FFF, 1629px 305px #FFF, 1517px 419px #FFF, 1903px 1198px #FFF, 61px 1110px #FFF, 1328px 589px #FFF, 1033px 1110px #FFF, 425px 568px #FFF, 1584px 907px #FFF, 804px 326px #FFF, 1415px 1283px #FFF, 181px 1808px #FFF, 1913px 1380px #FFF, 1541px 1697px #FFF, 1113px 304px #FFF, 1606px 566px #FFF, 397px 74px #FFF, 556px 1574px #FFF, 1072px 1161px #FFF, 1432px 1232px #FFF, 720px 176px #FFF, 1062px 1318px #FFF, 1981px 554px #FFF, 919px 1030px #FFF, 986px 1658px #FFF, 1174px 329px #FFF, 1437px 560px #FFF, 1342px 1614px #FFF, 1979px 1477px #FFF, 1608px 1093px #FFF, 1463px 1074px #FFF, 444px 193px #FFF, 887px 1800px #FFF, 989px 1301px #FFF, 715px 1082px #FFF, 1006px 1030px #FFF, 65px 276px #FFF, 859px 1738px #FFF, 980px 1981px #FFF, 38px 494px #FFF, 1320px 937px #FFF, 1670px 728px #FFF, 1863px 507px #FFF, 777px 6px #FFF, 110px 959px #FFF, 682px 104px #FFF, 1186px 1721px #FFF, 275px 1533px #FFF, 214px 1028px #FFF, 1669px 719px #FFF, 1235px 1541px #FFF, 1124px 474px #FFF, 1754px 615px #FFF, 1201px 410px #FFF, 1441px 509px #FFF, 895px 821px #FFF, 1033px 1220px #FFF, 1575px 835px #FFF, 349px 1510px #FFF, 399px 1383px #FFF, 1775px 17px #FFF, 1781px 1722px #FFF, 1177px 488px #FFF, 1675px 851px #FFF, 1817px 1452px #FFF, 524px 1618px #FFF, 732px 1787px #FFF, 1905px 593px #FFF, 1221px 821px #FFF, 1005px 941px #FFF, 176px 1012px #FFF, 178px 1185px #FFF, 1060px 1040px #FFF, 1554px 176px #FFF, 1407px 904px #FFF, 92px 137px #FFF, 1674px 437px #FFF, 1405px 1767px #FFF, 943px 1020px #FFF, 952px 119px #FFF, 195px 804px #FFF, 618px 759px #FFF, 900px 471px #FFF, 1288px 639px #FFF, 843px 1187px #FFF, 1621px 693px #FFF, 305px 965px #FFF, 1388px 910px #FFF, 915px 1394px #FFF, 956px 25px #FFF, 1920px 218px #FFF, 351px 632px #FFF, 1396px 404px #FFF, 316px 1980px #FFF, 713px 1400px #FFF, 540px 1174px #FFF, 1792px 694px #FFF, 44px 53px #FFF, 716px 730px #FFF, 359px 464px #FFF, 281px 226px #FFF, 282px 1904px #FFF, 1442px 1758px #FFF, 739px 862px #FFF, 1196px 890px #FFF, 1584px 439px #FFF, 772px 1321px #FFF, 1058px 1842px #FFF, 1984px 1841px #FFF, 1712px 1631px #FFF, 1741px 1121px #FFF, 1035px 891px #FFF, 1794px 1615px #FFF, 1524px 66px #FFF, 1488px 1365px #FFF, 1534px 441px #FFF, 618px 350px #FFF, 447px 1992px #FFF, 294px 1421px #FFF, 94px 142px #FFF, 1070px 67px #FFF, 931px 107px #FFF, 1718px 1959px #FFF, 956px 1561px #FFF, 308px 1160px #FFF, 586px 2000px #FFF, 1468px 401px #FFF, 1201px 216px #FFF, 928px 1979px #FFF, 837px 1407px #FFF, 1749px 1962px #FFF, 783px 1255px #FFF, 1034px 77px #FFF, 1800px 1107px #FFF, 1995px 539px #FFF, 1151px 1394px #FFF, 544px 623px #FFF, 566px 922px #FFF, 556px 1188px #FFF, 1620px 1006px #FFF, 262px 1283px #FFF, 1964px 1256px #FFF, 1603px 672px #FFF, 998px 714px #FFF, 1623px 375px #FFF, 425px 1946px #FFF, 811px 1373px #FFF, 549px 1026px #FFF, 471px 230px #FFF, 1168px 1894px #FFF, 1994px 23px #FFF, 1088px 1086px #FFF, 1797px 145px #FFF, 1252px 889px #FFF, 1621px 922px #FFF, 1175px 1272px #FFF, 407px 1598px #FFF, 755px 1910px #FFF, 1861px 1536px #FFF, 32px 68px #FFF, 1659px 388px #FFF, 546px 305px #FFF, 617px 653px #FFF, 1260px 581px #FFF, 289px 1301px #FFF, 264px 1468px #FFF, 1115px 17px #FFF, 1189px 1564px #FFF, 141px 396px #FFF, 1054px 448px #FFF, 1967px 1040px #FFF, 911px 1072px #FFF, 1171px 1993px #FFF, 579px 1197px #FFF, 896px 991px #FFF, 707px 1966px #FFF, 717px 762px #FFF, 1829px 917px #FFF, 1814px 1234px #FFF, 1099px 1267px #FFF, 1277px 309px #FFF, 1812px 28px #FFF, 1845px 405px #FFF, 806px 1006px #FFF, 1808px 492px #FFF, 1930px 108px #FFF, 1355px 1216px #FFF, 1363px 814px #FFF, 251px 1881px #FFF, 1435px 544px #FFF, 1098px 374px #FFF, 758px 1602px #FFF, 1584px 623px #FFF, 1275px 1689px #FFF, 568px 41px #FFF, 35px 1882px #FFF, 1661px 1937px #FFF, 1919px 1339px #FFF, 943px 1707px #FFF, 49px 1936px #FFF, 1085px 1173px #FFF, 244px 1750px #FFF, 641px 891px #FFF, 74px 553px #FFF, 752px 629px #FFF, 1311px 1899px #FFF, 990px 381px #FFF, 1977px 737px #FFF, 94px 1802px #FFF, 289px 1449px #FFF, 1084px 1734px #FFF, 1036px 1692px #FFF, 532px 115px #FFF, 955px 1120px #FFF, 1352px 1985px #FFF, 934px 1273px #FFF, 280px 1808px #FFF, 1756px 1999px #FFF, 917px 446px #FFF, 1122px 1270px #FFF, 1958px 1109px #FFF, 1178px 295px #FFF, 1186px 386px #FFF, 1767px 1879px #FFF, 482px 1960px #FFF, 663px 149px #FFF, 398px 296px #FFF, 1533px 688px #FFF, 28px 1883px #FFF, 50px 78px #FFF, 325px 1823px #FFF, 1968px 1597px #FFF, 1633px 180px #FFF, 1026px 1061px #FFF, 866px 1275px #FFF, 1029px 864px #FFF, 390px 259px #FFF, 718px 1617px #FFF, 155px 1015px #FFF, 1027px 1343px #FFF, 211px 1676px #FFF, 766px 1072px #FFF, 1583px 256px #FFF, 734px 1963px #FFF, 1530px 13px #FFF, 1095px 794px #FFF, 1874px 211px #FFF, 1543px 489px #FFF, 720px 1980px #FFF, 1018px 1164px #FFF, 146px 560px #FFF, 916px 1039px #FFF, 717px 154px #FFF, 295px 742px #FFF, 625px 474px #FFF, 824px 1082px #FFF, 85px 1998px #FFF, 1611px 1676px #FFF, 1599px 767px #FFF, 445px 537px #FFF, 992px 1277px #FFF, 1227px 1404px #FFF, 1077px 265px #FFF, 1515px 713px #FFF, 896px 1105px #FFF, 13px 531px #FFF, 218px 846px #FFF, 1365px 1058px #FFF, 417px 627px #FFF, 1752px 1621px #FFF, 1447px 1721px #FFF, 1669px 1388px #FFF, 780px 1059px #FFF, 1363px 603px #FFF, 1587px 1628px #FFF, 1533px 163px #FFF, 1885px 798px #FFF, 512px 170px #FFF, 1113px 551px #FFF, 1295px 1048px #FFF, 1324px 1523px #FFF, 614px 469px #FFF, 654px 1011px #FFF, 1756px 129px #FFF, 444px 395px #FFF, 112px 1750px #FFF, 426px 1594px #FFF, 1872px 1707px #FFF, 1614px 837px #FFF, 1824px 973px #FFF, 849px 1895px #FFF, 1394px 1614px #FFF, 847px 1785px #FFF, 793px 272px #FFF, 1353px 1291px #FFF, 1434px 1045px #FFF, 175px 393px #FFF, 5px 8px #FFF, 198px 701px #FFF, 1652px 632px #FFF, 1487px 1606px #FFF, 184px 1463px #FFF, 951px 1520px #FFF, 653px 1370px #FFF, 217px 1095px #FFF, 252px 648px #FFF, 1386px 1636px #FFF, 1801px 1605px #FFF, 759px 1528px #FFF, 396px 144px #FFF, 1565px 1059px #FFF, 1385px 813px #FFF, 1946px 1527px #FFF, 1111px 1249px #FFF, 1763px 982px #FFF, 1770px 1672px #FFF, 128px 531px #FFF, 173px 807px #FFF, 601px 1149px #FFF, 1620px 1577px #FFF, 1439px 47px #FFF, 665px 759px #FFF, 327px 32px #FFF, 1176px 1643px #FFF, 1302px 1897px #FFF, 1061px 339px #FFF, 1775px 1630px #FFF, 114px 945px #FFF, 219px 1769px #FFF, 965px 343px #FFF, 1301px 659px #FFF, 1211px 661px #FFF, 240px 1718px #FFF, 1928px 1782px #FFF, 1550px 202px #FFF, 1760px 97px #FFF, 243px 1572px #FFF, 849px 1321px #FFF, 1406px 1085px #FFF, 1999px 1019px #FFF, 959px 954px #FFF, 1387px 285px #FFF, 621px 1340px #FFF, 210px 1781px #FFF, 933px 911px #FFF, 1230px 847px #FFF, 160px 1799px #FFF, 1704px 1713px #FFF, 846px 501px #FFF, 1206px 502px #FFF, 1162px 1407px #FFF, 1066px 1778px #FFF, 378px 585px #FFF, 1889px 1078px #FFF, 1001px 580px #FFF, 1780px 1648px #FFF, 927px 1152px #FFF, 1498px 1022px #FFF, 893px 1339px #FFF, 1725px 169px #FFF, 1922px 1595px #FFF, 153px 154px #FFF, 1957px 1917px #FFF, 319px 1637px #FFF, 1243px 207px #FFF, 1270px 523px #FFF, 132px 257px #FFF, 1391px 1960px #FFF, 942px 747px #FFF, 1064px 1941px #FFF, 1409px 271px #FFF, 1408px 304px #FFF, 1680px 1142px #FFF, 1854px 1743px #FFF, 1366px 655px #FFF, 1408px 1174px #FFF, 1177px 394px #FFF, 1445px 1266px #FFF, 1813px 1607px #FFF, 756px 1318px #FFF, 388px 1439px #FFF, 1791px 1884px #FFF, 982px 1670px #FFF, 1926px 583px #FFF, 485px 1379px #FFF, 1561px 1674px #FFF, 68px 1527px #FFF, 1133px 1886px #FFF, 1412px 129px #FFF, 1841px 157px #FFF, 1011px 87px #FFF, 1484px 1918px #FFF, 325px 236px #FFF, 1835px 1686px #FFF, 18px 1459px #FFF, 1143px 381px #FFF, 85px 1343px #FFF, 319px 1468px #FFF, 158px 125px #FFF, 103px 637px #FFF, 217px 583px #FFF, 546px 370px #FFF, 814px 1338px #FFF, 1033px 1238px #FFF, 1126px 524px #FFF, 245px 1184px #FFF, 832px 1834px #FFF, 1117px 484px #FFF, 513px 1775px #FFF, 1515px 1954px #FFF, 717px 476px #FFF, 485px 626px #FFF, 28px 1020px #FFF, 1805px 638px #FFF, 618px 359px #FFF, 263px 1091px #FFF, 1696px 1723px #FFF, 1437px 1337px #FFF, 1848px 1534px #FFF, 35px 1506px #FFF, 1296px 1119px #FFF, 1264px 875px #FFF, 1840px 249px #FFF, 377px 1727px #FFF, 1448px 1066px #FFF, 972px 1926px #FFF, 41px 320px #FFF, 475px 168px #FFF, 1515px 1656px #FFF, 1006px 1687px #FFF, 105px 1733px #FFF, 416px 1606px #FFF, 1990px 1764px #FFF, 920px 1088px #FFF, 1338px 1166px #FFF, 542px 1px #FFF, 578px 185px #FFF, 1307px 128px #FFF, 361px 249px #FFF, 981px 607px #FFF, 898px 1161px #FFF, 65px 997px #FFF, 1841px 52px #FFF, 674px 1585px #FFF, 1464px 442px #FFF, 1883px 149px #FFF, 1973px 378px #FFF, 267px 298px #FFF, 787px 1998px #FFF, 1641px 12px #FFF, 1222px 276px #FFF, 1823px 1012px #FFF, 364px 704px #FFF, 1247px 1222px #FFF, 1327px 649px #FFF, 91px 853px #FFF, 639px 1447px #FFF, 264px 785px #FFF, 1482px 1645px #FFF, 1767px 804px #FFF, 210px 1869px #FFF, 898px 1581px #FFF, 790px 1728px #FFF, 848px 1526px #FFF, 125px 321px #FFF, 878px 1918px #FFF, 1278px 307px #FFF, 1700px 1400px #FFF, 519px 877px #FFF, 667px 661px #FFF, 97px 719px #FFF, 1897px 381px #FFF, 558px 822px #FFF, 1572px 196px #FFF, 1516px 21px #FFF, 1752px 1368px #FFF, 72px 1230px #FFF, 547px 104px #FFF, 1459px 225px #FFF, 1028px 492px #FFF, 406px 1502px #FFF, 809px 1392px #FFF, 7px 1641px #FFF, 1245px 269px #FFF, 588px 268px #FFF, 1787px 756px #FFF, 200px 223px #FFF, 1022px 1018px #FFF, 1547px 1159px #FFF, 226px 1252px #FFF, 1710px 1012px #FFF, 776px 1969px #FFF, 1625px 900px #FFF, 619px 350px #FFF, 652px 1747px #FFF, 322px 1674px #FFF, 1548px 614px #FFF, 1616px 1181px #FFF, 1920px 718px #FFF, 922px 524px #FFF, 1277px 531px #FFF, 1498px 1860px #FFF, 931px 1342px #FFF, 1205px 703px #FFF, 1281px 948px #FFF, 939px 194px #FFF, 1934px 1974px #FFF, 614px 894px #FFF, 1756px 1078px #FFF, 1259px 1225px #FFF, 849px 884px #FFF, 1914px 383px #FFF, 836px 1109px #FFF, 1312px 1109px #FFF, 1184px 1566px #FFF, 1178px 2000px #FFF, 961px 209px #FFF, 1416px 1666px #FFF, 1829px 577px #FFF, 1807px 1999px #FFF, 1397px 306px #FFF, 1356px 1824px #FFF, 184px 1634px #FFF, 203px 1622px #FFF, 435px 965px #FFF, 538px 1443px #FFF, 588px 1836px #FFF, 1611px 529px #FFF, 1077px 1265px #FFF, 183px 533px #FFF, 1599px 1993px #FFF, 1546px 1720px #FFF, 1856px 1893px #FFF, 1628px 1068px #FFF, 319px 1348px #FFF, 435px 1353px #FFF, 1035px 959px #FFF, 88px 23px #FFF, 164px 1913px #FFF, 79px 752px #FFF, 1470px 902px #FFF, 182px 1116px #FFF, 1304px 105px #FFF, 1260px 717px #FFF, 675px 279px #FFF, 108px 1774px #FFF, 165px 22px #FFF, 1334px 121px #FFF, 51px 58px #FFF, 450px 338px #FFF, 52px 115px #FFF, 725px 866px #FFF, 987px 356px #FFF, 833px 382px #FFF, 605px 954px #FFF, 524px 604px #FFF, 466px 834px #FFF, 1886px 71px #FFF, 176px 1080px #FFF, 786px 1395px #FFF, 236px 1789px #FFF, 1869px 935px #FFF, 369px 119px #FFF, 167px 72px #FFF, 1869px 1406px #FFF, 1713px 1043px #FFF, 1331px 1445px #FFF, 1121px 193px #FFF, 1864px 1562px #FFF, 1519px 1175px #FFF, 1070px 521px #FFF, 697px 216px #FFF, 1198px 1664px #FFF, 1856px 715px #FFF, 1094px 1665px #FFF, 1099px 980px #FFF, 1501px 770px #FFF, 842px 482px #FFF, 1881px 975px #FFF, 712px 566px #FFF, 1903px 511px #FFF, 853px 1019px #FFF, 277px 561px #FFF, 1187px 1582px #FFF, 1992px 164px #FFF, 1861px 557px #FFF, 166px 1378px #FFF, 5px 675px #FFF, 1116px 1817px #FFF, 987px 1009px #FFF, 1048px 1274px #FFF, 781px 1818px #FFF, 551px 203px #FFF, 1963px 462px #FFF, 1319px 143px #FFF, 1335px 1081px #FFF, 1928px 933px #FFF, 1911px 32px #FFF, 1340px 1653px #FFF, 1685px 80px #FFF, 1717px 898px #FFF, 918px 1204px #FFF, 945px 1782px #FFF, 218px 1492px #FFF, 168px 1362px #FFF, 1327px 274px #FFF, 1730px 771px #FFF, 1904px 843px #FFF, 1764px 1872px #FFF, 1519px 626px #FFF, 1573px 1802px #FFF, 1643px 1265px #FFF, 800px 1965px #FFF, 1116px 1098px #FFF, 1318px 1583px #FFF, 43px 813px #FFF, 1800px 584px #FFF, 1165px 1017px #FFF, 640px 578px #FFF, 198px 373px #FFF, 350px 1908px #FFF, 1808px 350px #FFF, 133px 1230px #FFF, 1997px 1333px #FFF, 1839px 938px #FFF, 1433px 985px #FFF, 1107px 605px #FFF, 1476px 394px #FFF, 766px 1157px #FFF, 1704px 1244px #FFF, 33px 1515px #FFF, 1301px 1619px #FFF, 1502px 477px #FFF, 593px 805px #FFF, 1441px 694px #FFF, 136px 444px #FFF, 569px 1629px #FFF, 1696px 1361px #FFF, 1179px 718px #FFF, 1890px 998px #FFF, 819px 321px #FFF, 1771px 1173px #FFF, 1813px 311px #FFF, 1788px 1129px #FFF, 1699px 1382px #FFF, 1188px 117px #FFF, 1986px 1779px #FFF, 929px 1688px #FFF, 974px 1393px #FFF, 44px 242px #FFF, 116px 541px #FFF, 1482px 1532px #FFF, 236px 709px #FFF, 1820px 1439px #FFF, 1817px 944px #FFF, 1680px 1639px #FFF, 1151px 1880px #FFF, 1448px 267px #FFF, 225px 877px #FFF, 393px 940px #FFF, 802px 564px #FFF, 1050px 1766px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 41px 1065px #FFF, 533px 1631px #FFF, 1581px 1778px #FFF, 77px 870px #FFF, 1054px 1735px #FFF, 46px 903px #FFF, 1639px 1176px #FFF, 1735px 109px #FFF, 142px 1662px #FFF, 1002px 1513px #FFF, 1224px 1743px #FFF, 1589px 533px #FFF, 1106px 864px #FFF, 1674px 1643px #FFF, 1660px 240px #FFF, 973px 1594px #FFF, 669px 556px #FFF, 1109px 53px #FFF, 1274px 1030px #FFF, 639px 587px #FFF, 1337px 1278px #FFF, 483px 13px #FFF, 1050px 466px #FFF, 289px 92px #FFF, 831px 1804px #FFF, 441px 1266px #FFF, 1120px 484px #FFF, 249px 1182px #FFF, 178px 299px #FFF, 198px 612px #FFF, 406px 1299px #FFF, 1284px 1987px #FFF, 367px 29px #FFF, 931px 689px #FFF, 78px 132px #FFF, 933px 1892px #FFF, 1925px 57px #FFF, 1576px 480px #FFF, 1221px 1640px #FFF, 948px 1157px #FFF, 745px 1162px #FFF, 1499px 1839px #FFF, 800px 500px #FFF, 1517px 1885px #FFF, 1263px 517px #FFF, 1068px 825px #FFF, 712px 714px #FFF, 1452px 1577px #FFF, 396px 838px #FFF, 1043px 486px #FFF, 590px 116px #FFF, 555px 335px #FFF, 526px 229px #FFF, 1410px 110px #FFF, 863px 1580px #FFF, 974px 1051px #FFF, 589px 1676px #FFF, 236px 348px #FFF, 546px 762px #FFF, 216px 994px #FFF, 1282px 141px #FFF, 1725px 1393px #FFF, 766px 1155px #FFF, 182px 195px #FFF, 1102px 1584px #FFF, 1558px 349px #FFF, 1330px 400px #FFF, 441px 113px #FFF, 261px 1712px #FFF, 793px 791px #FFF, 613px 1483px #FFF, 1184px 424px #FFF, 1987px 201px #FFF, 856px 431px #FFF, 129px 1869px #FFF, 1116px 1646px #FFF, 1110px 1880px #FFF, 473px 1527px #FFF, 1414px 1294px #FFF, 869px 711px #FFF, 81px 1726px #FFF, 1398px 429px #FFF, 109px 39px #FFF, 306px 1848px #FFF, 1041px 1328px #FFF, 1070px 1898px #FFF, 1376px 804px #FFF, 423px 845px #FFF, 1771px 798px #FFF, 1862px 176px #FFF, 1588px 1501px #FFF, 1196px 163px #FFF, 1961px 783px #FFF, 372px 250px #FFF, 973px 1595px #FFF, 306px 1697px #FFF, 1567px 223px #FFF, 1933px 374px #FFF, 538px 349px #FFF, 280px 1880px #FFF, 673px 262px #FFF, 1838px 771px #FFF, 1223px 1386px #FFF, 1245px 1843px #FFF, 1380px 544px #FFF, 515px 1892px #FFF, 1696px 1522px #FFF, 308px 914px #FFF, 1999px 492px #FFF, 1741px 600px #FFF, 51px 1813px #FFF, 281px 1319px #FFF, 926px 1340px #FFF, 631px 1399px #FFF, 1041px 353px #FFF, 961px 1928px #FFF, 680px 275px #FFF, 1380px 521px #FFF, 1135px 1311px #FFF, 953px 1495px #FFF, 1880px 194px #FFF, 325px 848px #FFF, 1469px 1997px #FFF, 1299px 1497px #FFF, 321px 1805px #FFF, 1365px 688px #FFF, 1820px 554px #FFF, 1269px 9px #FFF, 1417px 1639px #FFF, 1535px 1754px #FFF, 890px 488px #FFF, 1488px 1873px #FFF, 873px 1924px #FFF, 1543px 711px #FFF, 1686px 1135px #FFF, 594px 595px #FFF, 1518px 1256px #FFF, 220px 871px #FFF, 1387px 1583px #FFF, 1160px 279px #FFF, 1035px 377px #FFF, 375px 636px #FFF, 1194px 571px #FFF, 1291px 1989px #FFF, 20px 1183px #FFF, 720px 115px #FFF, 1188px 1061px #FFF, 459px 1268px #FFF, 903px 264px #FFF, 1517px 1832px #FFF, 1767px 155px #FFF, 310px 515px #FFF, 2000px 1734px #FFF, 125px 1249px #FFF, 1164px 629px #FFF, 1994px 1364px #FFF, 325px 703px #FFF, 1713px 1668px #FFF, 658px 602px #FFF, 1963px 205px #FFF, 1180px 1908px #FFF, 1042px 127px #FFF, 1635px 349px #FFF, 297px 1213px #FFF, 1640px 102px #FFF, 1024px 497px #FFF, 1079px 367px #FFF, 420px 1735px #FFF, 1062px 1184px #FFF, 829px 1197px #FFF, 1309px 61px #FFF, 946px 1605px #FFF, 1426px 411px #FFF, 1799px 47px #FFF, 338px 21px #FFF, 1226px 353px #FFF, 1374px 1968px #FFF, 1024px 683px #FFF, 243px 245px #FFF, 877px 303px #FFF, 1948px 419px #FFF, 34px 52px #FFF, 1033px 113px #FFF, 349px 147px #FFF, 1644px 1107px #FFF, 1896px 260px #FFF, 85px 610px #FFF, 204px 809px #FFF, 772px 686px #FFF, 1020px 197px #FFF, 1138px 60px #FFF, 1529px 1631px #FFF, 1559px 270px #FFF, 467px 892px #FFF, 275px 1732px #FFF, 1614px 1964px #FFF, 1522px 49px #FFF, 915px 760px #FFF, 474px 442px #FFF, 1591px 67px #FFF;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 41px 1065px #FFF, 533px 1631px #FFF, 1581px 1778px #FFF, 77px 870px #FFF, 1054px 1735px #FFF, 46px 903px #FFF, 1639px 1176px #FFF, 1735px 109px #FFF, 142px 1662px #FFF, 1002px 1513px #FFF, 1224px 1743px #FFF, 1589px 533px #FFF, 1106px 864px #FFF, 1674px 1643px #FFF, 1660px 240px #FFF, 973px 1594px #FFF, 669px 556px #FFF, 1109px 53px #FFF, 1274px 1030px #FFF, 639px 587px #FFF, 1337px 1278px #FFF, 483px 13px #FFF, 1050px 466px #FFF, 289px 92px #FFF, 831px 1804px #FFF, 441px 1266px #FFF, 1120px 484px #FFF, 249px 1182px #FFF, 178px 299px #FFF, 198px 612px #FFF, 406px 1299px #FFF, 1284px 1987px #FFF, 367px 29px #FFF, 931px 689px #FFF, 78px 132px #FFF, 933px 1892px #FFF, 1925px 57px #FFF, 1576px 480px #FFF, 1221px 1640px #FFF, 948px 1157px #FFF, 745px 1162px #FFF, 1499px 1839px #FFF, 800px 500px #FFF, 1517px 1885px #FFF, 1263px 517px #FFF, 1068px 825px #FFF, 712px 714px #FFF, 1452px 1577px #FFF, 396px 838px #FFF, 1043px 486px #FFF, 590px 116px #FFF, 555px 335px #FFF, 526px 229px #FFF, 1410px 110px #FFF, 863px 1580px #FFF, 974px 1051px #FFF, 589px 1676px #FFF, 236px 348px #FFF, 546px 762px #FFF, 216px 994px #FFF, 1282px 141px #FFF, 1725px 1393px #FFF, 766px 1155px #FFF, 182px 195px #FFF, 1102px 1584px #FFF, 1558px 349px #FFF, 1330px 400px #FFF, 441px 113px #FFF, 261px 1712px #FFF, 793px 791px #FFF, 613px 1483px #FFF, 1184px 424px #FFF, 1987px 201px #FFF, 856px 431px #FFF, 129px 1869px #FFF, 1116px 1646px #FFF, 1110px 1880px #FFF, 473px 1527px #FFF, 1414px 1294px #FFF, 869px 711px #FFF, 81px 1726px #FFF, 1398px 429px #FFF, 109px 39px #FFF, 306px 1848px #FFF, 1041px 1328px #FFF, 1070px 1898px #FFF, 1376px 804px #FFF, 423px 845px #FFF, 1771px 798px #FFF, 1862px 176px #FFF, 1588px 1501px #FFF, 1196px 163px #FFF, 1961px 783px #FFF, 372px 250px #FFF, 973px 1595px #FFF, 306px 1697px #FFF, 1567px 223px #FFF, 1933px 374px #FFF, 538px 349px #FFF, 280px 1880px #FFF, 673px 262px #FFF, 1838px 771px #FFF, 1223px 1386px #FFF, 1245px 1843px #FFF, 1380px 544px #FFF, 515px 1892px #FFF, 1696px 1522px #FFF, 308px 914px #FFF, 1999px 492px #FFF, 1741px 600px #FFF, 51px 1813px #FFF, 281px 1319px #FFF, 926px 1340px #FFF, 631px 1399px #FFF, 1041px 353px #FFF, 961px 1928px #FFF, 680px 275px #FFF, 1380px 521px #FFF, 1135px 1311px #FFF, 953px 1495px #FFF, 1880px 194px #FFF, 325px 848px #FFF, 1469px 1997px #FFF, 1299px 1497px #FFF, 321px 1805px #FFF, 1365px 688px #FFF, 1820px 554px #FFF, 1269px 9px #FFF, 1417px 1639px #FFF, 1535px 1754px #FFF, 890px 488px #FFF, 1488px 1873px #FFF, 873px 1924px #FFF, 1543px 711px #FFF, 1686px 1135px #FFF, 594px 595px #FFF, 1518px 1256px #FFF, 220px 871px #FFF, 1387px 1583px #FFF, 1160px 279px #FFF, 1035px 377px #FFF, 375px 636px #FFF, 1194px 571px #FFF, 1291px 1989px #FFF, 20px 1183px #FFF, 720px 115px #FFF, 1188px 1061px #FFF, 459px 1268px #FFF, 903px 264px #FFF, 1517px 1832px #FFF, 1767px 155px #FFF, 310px 515px #FFF, 2000px 1734px #FFF, 125px 1249px #FFF, 1164px 629px #FFF, 1994px 1364px #FFF, 325px 703px #FFF, 1713px 1668px #FFF, 658px 602px #FFF, 1963px 205px #FFF, 1180px 1908px #FFF, 1042px 127px #FFF, 1635px 349px #FFF, 297px 1213px #FFF, 1640px 102px #FFF, 1024px 497px #FFF, 1079px 367px #FFF, 420px 1735px #FFF, 1062px 1184px #FFF, 829px 1197px #FFF, 1309px 61px #FFF, 946px 1605px #FFF, 1426px 411px #FFF, 1799px 47px #FFF, 338px 21px #FFF, 1226px 353px #FFF, 1374px 1968px #FFF, 1024px 683px #FFF, 243px 245px #FFF, 877px 303px #FFF, 1948px 419px #FFF, 34px 52px #FFF, 1033px 113px #FFF, 349px 147px #FFF, 1644px 1107px #FFF, 1896px 260px #FFF, 85px 610px #FFF, 204px 809px #FFF, 772px 686px #FFF, 1020px 197px #FFF, 1138px 60px #FFF, 1529px 1631px #FFF, 1559px 270px #FFF, 467px 892px #FFF, 275px 1732px #FFF, 1614px 1964px #FFF, 1522px 49px #FFF, 915px 760px #FFF, 474px 442px #FFF, 1591px 67px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 34px 1213px #FFF, 585px 924px #FFF, 588px 1223px #FFF, 1060px 276px #FFF, 1890px 984px #FFF, 565px 324px #FFF, 1707px 735px #FFF, 776px 975px #FFF, 176px 171px #FFF, 1396px 241px #FFF, 84px 1048px #FFF, 1235px 34px #FFF, 632px 661px #FFF, 1694px 1067px #FFF, 281px 1109px #FFF, 1345px 1829px #FFF, 1958px 1100px #FFF, 432px 374px #FFF, 1047px 1266px #FFF, 911px 763px #FFF, 66px 1448px #FFF, 551px 996px #FFF, 1737px 1742px #FFF, 271px 1785px #FFF, 97px 26px #FFF, 760px 249px #FFF, 121px 620px #FFF, 319px 531px #FFF, 1623px 224px #FFF, 1138px 1628px #FFF, 1978px 624px #FFF, 1356px 777px #FFF, 890px 1611px #FFF, 680px 1229px #FFF, 1328px 238px #FFF, 1567px 1115px #FFF, 1176px 8px #FFF, 1781px 1955px #FFF, 1016px 61px #FFF, 1304px 1906px #FFF, 1699px 1163px #FFF, 1320px 1367px #FFF, 1368px 363px #FFF, 1510px 1160px #FFF, 1077px 687px #FFF, 53px 823px #FFF, 1821px 1690px #FFF, 493px 7px #FFF, 1645px 1329px #FFF, 1961px 549px #FFF, 1412px 1266px #FFF, 1306px 1272px #FFF, 445px 925px #FFF, 1335px 1418px #FFF, 774px 935px #FFF, 1442px 518px #FFF, 558px 393px #FFF, 1628px 334px #FFF, 770px 1080px #FFF, 1365px 1602px #FFF, 1916px 1516px #FFF, 686px 747px #FFF, 798px 587px #FFF, 180px 495px #FFF, 691px 339px #FFF, 1021px 1474px #FFF, 1446px 888px #FFF, 1334px 1777px #FFF, 1488px 412px #FFF, 633px 19px #FFF, 1482px 1492px #FFF, 1242px 1813px #FFF, 378px 682px #FFF, 1278px 983px #FFF, 305px 979px #FFF, 340px 452px #FFF, 456px 1241px #FFF, 1017px 6px #FFF, 997px 1958px #FFF, 677px 92px #FFF, 1598px 1825px #FFF, 627px 34px #FFF, 326px 1937px #FFF, 1358px 631px #FFF, 612px 1337px #FFF, 1135px 1539px #FFF, 1508px 88px #FFF, 1115px 1220px #FFF, 1448px 108px #FFF, 1166px 722px #FFF, 982px 924px #FFF, 1178px 1632px #FFF, 1838px 1119px #FFF, 804px 370px #FFF, 580px 1814px #FFF, 757px 902px #FFF, 269px 598px #FFF, 426px 1173px #FFF, 1411px 1731px #FFF, 355px 371px #FFF;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 34px 1213px #FFF, 585px 924px #FFF, 588px 1223px #FFF, 1060px 276px #FFF, 1890px 984px #FFF, 565px 324px #FFF, 1707px 735px #FFF, 776px 975px #FFF, 176px 171px #FFF, 1396px 241px #FFF, 84px 1048px #FFF, 1235px 34px #FFF, 632px 661px #FFF, 1694px 1067px #FFF, 281px 1109px #FFF, 1345px 1829px #FFF, 1958px 1100px #FFF, 432px 374px #FFF, 1047px 1266px #FFF, 911px 763px #FFF, 66px 1448px #FFF, 551px 996px #FFF, 1737px 1742px #FFF, 271px 1785px #FFF, 97px 26px #FFF, 760px 249px #FFF, 121px 620px #FFF, 319px 531px #FFF, 1623px 224px #FFF, 1138px 1628px #FFF, 1978px 624px #FFF, 1356px 777px #FFF, 890px 1611px #FFF, 680px 1229px #FFF, 1328px 238px #FFF, 1567px 1115px #FFF, 1176px 8px #FFF, 1781px 1955px #FFF, 1016px 61px #FFF, 1304px 1906px #FFF, 1699px 1163px #FFF, 1320px 1367px #FFF, 1368px 363px #FFF, 1510px 1160px #FFF, 1077px 687px #FFF, 53px 823px #FFF, 1821px 1690px #FFF, 493px 7px #FFF, 1645px 1329px #FFF, 1961px 549px #FFF, 1412px 1266px #FFF, 1306px 1272px #FFF, 445px 925px #FFF, 1335px 1418px #FFF, 774px 935px #FFF, 1442px 518px #FFF, 558px 393px #FFF, 1628px 334px #FFF, 770px 1080px #FFF, 1365px 1602px #FFF, 1916px 1516px #FFF, 686px 747px #FFF, 798px 587px #FFF, 180px 495px #FFF, 691px 339px #FFF, 1021px 1474px #FFF, 1446px 888px #FFF, 1334px 1777px #FFF, 1488px 412px #FFF, 633px 19px #FFF, 1482px 1492px #FFF, 1242px 1813px #FFF, 378px 682px #FFF, 1278px 983px #FFF, 305px 979px #FFF, 340px 452px #FFF, 456px 1241px #FFF, 1017px 6px #FFF, 997px 1958px #FFF, 677px 92px #FFF, 1598px 1825px #FFF, 627px 34px #FFF, 326px 1937px #FFF, 1358px 631px #FFF, 612px 1337px #FFF, 1135px 1539px #FFF, 1508px 88px #FFF, 1115px 1220px #FFF, 1448px 108px #FFF, 1166px 722px #FFF, 982px 924px #FFF, 1178px 1632px #FFF, 1838px 1119px #FFF, 804px 370px #FFF, 580px 1814px #FFF, 757px 902px #FFF, 269px 598px #FFF, 426px 1173px #FFF, 1411px 1731px #FFF, 355px 371px #FFF;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-5000px);
    }
}

.all-wrap {
    width: 1120px;
    margin: 100px auto 0;
    padding-bottom:40px;
}

.all-wrap h1 {
    margin-bottom: 80px;
    color: #fff;
    text-align: center;
    font-family: 'Outfit';
    font-size: 60px;
}

.all-wrap .sec01 {
    width: 100%;
    padding: 50px;
    margin-bottom: 40px;
    border-radius: 40px;
    background: #fff;
}

.sec01 .tit {
    margin-bottom: 20px;
    font-size: 30px;
}

.sec01 .txt {
    font-size: 16px;
    line-height: 1.6;
}

.sec01 .txt strong {
    font-weight: 700;
}

.all-wrap .sec02 {
    width: 100%;
    margin-bottom: 40px;
    padding: 50px;
    border-radius: 40px;
    background: #fff;
}

.sec02 .tit {
    position: relative;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.sec02 .tit::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 4px;
    height: 24px;
    border-radius: 4px;
    background-color: #94bbe9;
}

.sec02 .profile {
    display: flex;
}

.sec02 .profile .img {
    width: 360px;
    height: 140px;
    border:1px solid #111;
    border-radius: 50%;
    background: url('../images/me.jpg') no-repeat center;
    background-size: contain;
}

.sec02 .info span {
    display: block;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
}

.sec02 .info span:last-of-type {
    width: 96%;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #d0d0d0;
}

.sec02 .about {
    margin-left: 30px;
    margin-bottom: 40px;
    line-height: 1.6;
    word-break: keep-all;
}

.sec02 .skill {
    width: 96%;
    margin-left: 30px;
    height: auto;
}

.sec02 .graph .skills {
    animation-name: skills;
}

.sec02 .graph p {
    z-index: 2;
    position: relative;
    margin: 15px 0;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

.sec02 .graph div span:nth-child(1) {
    z-index: -2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #eee;
    height: 100%;
    width: 100%;
}

.sec02 .graph div span:nth-child(2) {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: #5E95E8;
}

.sec02 .graph div:nth-child(1) span:nth-child(2) {
    width: 90%;
    animation-delay: 3s;
}

.sec02 .graph div:nth-child(2) span:nth-child(2) {
    width: 90%;
    animation-delay: 3.05s;
}

.sec02 .graph div:nth-child(3) span:nth-child(2) {
    width: 90%;
    animation-delay: 3.1s;
}

.sec02 .graph div:nth-child(4) span:nth-child(2) {
    width: 60%;
    animation-delay: 3.15s;
}

.sec02 .graph div:nth-child(5) span:nth-child(2) {
    width: 40%;
    animation-delay: 3.2s;
}

.sec02 .graph div:nth-child(6) span:nth-child(2) {
    width: 90%;
    animation-delay: 3.2s;
}

.sec02 .graph div:nth-child(7) span:nth-child(2) {
    width: 50%;
    animation-delay: 3.25s;
}
.sec02 .skills {
    animation: skills 2s cubic-bezier(0.17, 0.67, 0, 1);
}

@keyframes skills {
    0% {
        left: -500px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.sec02 .skill .photoshop .progress {
    width: 90%;
    height: 30px;
    padding: 0;
    text-align: center;
    background-color: #94bbe9;
    color: #111;
}

.all-wrap .sec03 {
    width: 100%;
    margin-bottom: 40px;
    padding: 50px;
    border-radius: 40px;
    background: #fff;
}

.sec03 .tit {
    position: relative;
    margin-bottom: 40px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.sec03 .tit::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 4px;
    height: 24px;
    border-radius: 4px;
    background-color: #94bbe9;
}

.sec03 .timeline {
    position: relative;
    margin-left: 200px;
}

.sec03 .timeline::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 50%;
    background: #94bbe9;
}

.sec03 .timeline .content {
    margin: 20px 0;
    padding-left: 60px;
}

.sec03 .timeline .date {
    position: absolute;
    left: -160px;
    color: #888;
    font-size: 14px;
}

.sec03 .slp .date {
    top: 40px;
}

.sec03 .nas .date {
    top: 118px;
}

.sec03 .ezen .date {
    top: 240px;
}

.sec03 .onpa .date {
    top: 380px;
}

.sec03 .cy .date {
    top: 520px;
}

.sec03 .timeline .company {
    margin: 5px 0 10px;
    color: #94bbe9;
    font-size: 18px;
    font-weight: 700;
}

.sec03 .timeline .circle {
    position: absolute;
    left: -6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #94bbe9;
}

.sec03 .slp .circle {
    top: 42px;
}

.sec03 .nas .circle {
    top: 120px;
}

.sec03 .ezen .circle {
    top: 224px;
}

.sec03 .onpa .circle {
    top: 382px;
}

.sec03 .cy .circle {
    top: 523px;
}

.sec03 .timeline .work li {
    position: relative;
    padding-left: 10px;
    color: #888;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

.sec03 .timeline .work li::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #888;
}

.all-wrap .sec04 {
    width: 100%;
    margin-bottom: 40px;
    padding: 50px;
    border-radius: 40px;
    background: #fff;
}

.sec04 .tit {
    position: relative;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.sec04 .tit::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 4px;
    height: 24px;
    border-radius: 4px;
    background-color: #94bbe9;
}

.sec04 > div {
    margin-bottom: 40px;
}

.sec04 > div:last-of-type {
    margin-bottom: 0;
}

.sec04 .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.sec04 .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #94bbe9;
}

.sec04 .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.sec04 .accordion button:hover,
.sec04 .accordion button:focus {
    cursor: pointer;
    color: #94bbe9;
}

.sec04 .accordion button:hover::after,
.sec04 .accordion button:focus::after {
    cursor: pointer;
    color: #0095ff;
    border: 1px solid #94bbe9;
}

.sec04 .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    font-size: 16px;
    font-weight: 500;
}

.sec04 .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.sec04 .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.sec04 .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.sec04 .accordion button[aria-expanded=true] {
    color: #94bbe9;
}

.sec04 .accordion button[aria-expanded=true] .icon::after {
    width: 0;
}

.sec04 .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 300px;
    transition: all 200ms linear;
}

.sec04 .item02 button[aria-expanded=true] + .accordion-content,
.sec04 .item05 button[aria-expanded=true] + .accordion-content{
    max-height: 900px;
}

.sec04 .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
}

.sec04 .accordion .accordion-content p {
    margin: 2em 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
}

.all-wrap .sec05 {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    padding: 50px;
    border-radius: 40px;
    background: #fff;
}

.sec05 .tit {
    position: relative;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.sec05 .tit::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 4px;
    height: 24px;
    border-radius: 4px;
    background-color: #94bbe9;
}

.sec05 .list{
    display: flex;
    flex-wrap: wrap;
}

.sec05 .list li{
    width: 227px;
    height: 200px;
    margin: 14px;
/*    border: 1px solid #0095ff;*/
    text-align: center;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 12px 2px rgba(240, 245, 252,0.3);
}

.sec05 .list li a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    border-radius: 20px;
    transition: 0.3s;
}

.sec05 .list li:hover a{
    color: #fff;
    background: #94bbe9;
}

.sec05 .list li a:hover .mini-tit{
    color: #fff;
}

.sec05 .mini-tit{
    margin-bottom: 5px;
    color: #94bbe9;
    font-size: 14px;
    font-family: 'outfit';
}

.sec05 .txt{
    font-size: 16px;
    font-weight: 600;
}

.sec05 .btn-pdf{
    position: absolute;
    top: 40px;
    right: 46px;
    width: 118px;
    height: 38px;
    color: #94bbe9;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.5;
    text-align: center;
    border: 1px solid #94bbe9;
    border-radius: 30px;
    transition: 0.3s;
}

.sec05 .btn-pdf:hover{
    color: #fff;
    background: #94bbe9;
}
